# .env.example

# Credentials
LOGIN_ISOLAR=
PASSWORD_ISOLAR=
PASSWORD_GROWATT=

# Asset Names (as they appear in the portals)
FARM_1=
FARM_2=
ROOFTOP_1=
ROOFTOP_2=

# File Paths
FOLDER_FARMS=
FOLDER_ROOFTOPS=
